// Colour variables
$backgroundColor: #2d2d2d;
$secondaryDarkColor: rgba(0,0,0,0.3);
$highlightColor: #5780f7;
$textColor: #EAEAEA;
$textColorDark: #a8a8a8;

$increaseTextColor: #66bf68;
$decreaseTextColor: #ed6562;

// Text variables
$mainTypeface: 'zeitung-micro', sans-serif;
$secondaryTypeface: 'Space Mono', monospace;

// Mixins

html {
  // text
  font-size: 62.5%;
}

body {
  // background
  background: $backgroundColor;

  // sizing
  height: 100vh;
  min-height: 700px;

  // text
  color: $textColor;
  font-family: $mainTypeface;
  font-size: 1.6rem;
}

h1, 
h2, 
h3,
h4
{
  // text
  font-family: $mainTypeface;
  text-transform: uppercase;
}

h2 {
  // text
  font-size: 2rem;
  font-weight: 500;
}

h3, 
h4 {
  // text
  font-weight: 400;
}

h4 {
  // text
  font-size: 1.4rem;
  letter-spacing: 0.075rem;
}

ul {
  list-style: none;
}

input[type=checkbox] {
  display: none;
}

fieldset {
  border: none;
  width: 90%;
  margin: auto;
}

.button {
  // background
  background: rgba(76, 76, 76, 0.8);

  // border
  border: none;

  // position & spacing
  display: inline-block;
  padding: 1rem 2rem;

  // text
  color: $textColor;
  font-size: 1.8rem;
  font-weight: 400;

  // transition & animation
  transform: all 0.25s ease-in-out;

  &:hover {
    // background
    background: $highlightColor;

    // transition & animation
    transform: all 0.25s ease-in-out;
  }
}


.label {
  // background
  background: rgba(76, 76, 76, 0.3);

  // position & spacing
  display: inline-block;
  margin: 0.5rem 0.25rem;
  padding: 0.5rem 1rem;

  // text
  color: rgba($textColor, 0.5);
  font-family: $secondaryTypeface;
  font-size: 1.4rem;
  font-weight: 400;

  // sizing
  transform: scale(1);

  // transition & animation
  transition: all 0.25s ease-in-out;

  &:hover {
    // background
    background: lighten(rgba(76, 76, 76, 0.8), 10);

    // cursor
    cursor: pointer;

    // text
    color: rgba($textColor, 1);

    // sizing
    transform: scale(1.01);

    // transition & animation
    transition: all 0.25s ease-in-out;
  }

  &--selected {
    // background
    background: rgba(76, 76, 76, 1);

    // text
    color: $textColor;
  }
}