// Colour variables
$backgroundColor: #2d2d2d;
$secondaryDarkColor: rgba(0,0,0,0.6);
$highlightColor: #5780f7;
$textColor: #EAEAEA;
$textColorDark: #a8a8a8;

$increaseTextColor: #66bf68;
$decreaseTextColor: #ed6562;

// Text variables
$mainTypeface: 'zeitung-micro, sans-serif';
$secondaryTypeface: 'Space Mono', monospace;

// Mixins
