.main-menu {

  display: flex;
  flex-direction: row;
  // justify-content: space-between;

  &__search {
    // flex-basis: 50%;

    .input {
      // sizing
      min-width: 375px;
      width: 50%;
    }
  }

  &__search, 
  &__settings,
  &__lists,
  &__country {
    // position & spacing
    padding-right: 1.5rem;
  }

  &__parameters {
    // background
    background: rgba(76, 76, 76, 0.5);

    // position & spacing
    position: absolute;

    // sizing
    width: 300px;
  }
  
  &__chosen-country {
    // background
    background: rgba(76, 76, 76, 0.75);

    // position & spacing
    padding: 0.5rem 3.5rem;
    position: absolute;
    top: 50px;
    left: 0;

    // sizing
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 300px;
    overflow-y: scroll;

    .chosen-country-name,
    .chosen-country-code,
    .chosen-capital-city {
      font-family: $secondaryTypeface;
      display: inline-block;
      margin-bottom: 0rem;
    }

    .chosen-country-name {
      text-transform: none;
      font-size: 2.25rem;
      padding-right: 0.5rem;
    }

    .chosen-country-code {
      font-size: 1.5rem;
      opacity: 0.7;
      padding-right: 0.5rem;
    }

    .chosen-capital-city {
      font-size: 1.2rem;
      opacity: 0.7;
    }

    .parameter-value-sc {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
    }

    .parameter-name-sc {
      padding-right: 0.5rem;
      opacity: 0.5;
    }

    .parameter-num-sc {
      padding-right: 0.5rem;
      opacity:1;
    }
  }
}


.map {
  &__country-data {
    // background
    background: rgba(76, 76, 76, 0.5);

    // position & spacing
    padding: 0.5rem 3.5rem;
    margin: 2rem 4rem;
    position: fixed;
    bottom: 0;
    left: 0;

    // sizing
    height: auto;
    max-height: 300px;
    width: 350px;
    overflow-y: scroll;

    // text
    // font-size: 0.25rem;

    .country-name,
    .country-code,
    .capital-city {
      font-family: $secondaryTypeface;
      display: inline-block;
      margin-bottom: 0rem;
    }

    .country-name {
      text-transform: none;
      font-size: 2.25rem;
      padding-right: 0.5rem;
    }

    .country-code {
      font-size: 1.5rem;
      opacity: 0.7;
      padding-right: 0.5rem;
    }

    .capital-city {
      font-size: 1.2rem;
      opacity: 0.7;
    }

    .parameter-value {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
    }

    .parameter-name {
      padding-right: 0.5rem;
      opacity: 0.5;
    }

    .parameter-num {
      padding-right: 0.5rem;
      opacity:1;
    }

    .parameter-perc {
      color: $highlightColor;
    }
  }

  &__content {
      
      min-height: 450px;
      max-height: 850px;

      svg {
        height: 100vh;
        
      }
    .country {
      // position & spacing
      transform-origin: center;

      // transition & animation
      transition: all 0.5s ease 0.05s;
    }
  }
}

.background-fill {
  // fill
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#A8A8A8;

  // stroke
  stroke:#2D2D2D;
  stroke-width:0.5;
  stroke-linejoin:round;
}

.country--highlight {
  fill: $highlightColor;
}

.country--selected {
  // fill
  stroke: $highlightColor;
  stroke-width: 2;
  fill: #a3e2a3;

  // transition & animation
  transition: all 0.5s ease 0.05s;
}

// #country-list__map-page {
//   z-index: -500;
// }