.main-menu {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;

  &__search {
    // flex-basis: 50%;

    .input {
      // sizing
      min-width: 375px;
      width: 50%;
    }
  }

  &__search, 
  &__settings,
  &__lists,
  &__country {
    // position & spacing
    padding-right: 1.5rem;
  }

  &__parameters {
    // background
    background: rgba(76, 76, 76, 0.5);

    // position & spacing
    position: absolute;

    // sizing
    width: 300px;
  }
}